<section>
    <!-- <div class="str ind2-home">
        <div class="hom-head"> -->
            <div class="hom-top"> 
                <div class="container">
                    <div class="row">
                        <div class="hom-nav ">
                            
                          
                          <!--MOBILE MENU-->
                            <a href="index.html" class="top-log">
                                <img src="assets/images/home/16077bizbook-white.png" alt="" loading="eager" class="ic-logo">
                            </a>
                            <!-- <div class="menu">
                                <h4>Explore</h4>
                            </div> -->
                            <div class="pop-menu"></div>
                            <!--END MOBILE MENU-->


                            <!-- <div class="top-ser">
                                <form name="filter_form" id="filter_form" class="filter_form">
                                    <ul>
                                        <li class="sr-sea">
                                            <input type="text" autocomplete="off" id="top-select-search" placeholder="What are you looking for?">
                                            <ul id="tser-res1" class="tser-res tser-res2"></ul>
                                        </li>
                                        <li class="sbtn">
                                            <button type="button" class="btn btn-success" id="top_filter_submit">
                                                <i class="material-icons">&nbsp;</i>
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                            </div> -->


                            <ul class="bl">
                                <li>
                                    <a href="pricing-details.html">Add business</a>
                                </li>
                                <li>
                                    <a href="login.html">Sign in</a>
                                </li>
                                <li>
                                    <a href="login.html?login=register">Create an account</a>
                                </li>
                            </ul>
                           
                           
                            <!--MOBILE MENU-->
                            <div class="mob-menu">
                                <div class="mob-me-ic">
                                    <i class="material-icons">menu</i>
                                </div>
                                <div class="mob-me-all">
                                    <div class="mob-me-clo">
                                        <i class="material-icons">close</i>
                                    </div>
                                    <div class="mv-bus">
                                        <h4></h4>
                                        <ul>
                                            <li>
                                                <a href="pricing-details.html">Add business</a>
                                            </li>
                                            <li>
                                                <a href="login.html">Sign in</a>
                                            </li>
                                            <li>
                                                <a href="login.html?login=register">Create an account</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- <div class="mv-cate">
                                        <h4>All Categories</h4>
                                        <ul>
                                            <li>
                                                <a href="all-listing.html">Spa and Facial</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Wedding halls</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Automobiles</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Restaurants</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Technology</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Pet shop</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Real Estate</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Sports</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Hospitals</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Education</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Transportation</a>
                                            </li>
                                            <li>
                                                <a href="all-listing.html">Electricals</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <!--END MOBILE MENU-->
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->
    </div> 
</section>