<section>
    <!-- <div class="str ind2-home">
        <div class="hom-head"> -->
            <div class="hom-top"> 
                <div class="container">
                    <div class="row">
                        <div class="hom-nav ">
                            <a href="index.html" class="top-log">
                                <img src="assets/images/home/16077bizbook-white.png" alt="" loading="eager" class="ic-logo">
                            </a>
                            <!-- <ul class="navbar-nav mr-auto nav-classified justify-content-end nav-contact pl-3">
                                <li class="nav-item nav-contact">
                                    <a class="nav-link h18"><img class="mr-1" src="assets/images/navbar/navbar-email.png" height="36" />info.masterpages.ca</a>
                                </li>
                                <li class="nav-item nav-contact ml-5">
                                    <a class="nav-link h18"><img src="assets/images/navbar/navbar-phone.png" height="36" />+1 (416) 663-3999</a>
                                </li>
                            </ul> -->
                            
                          
                         


                            <ul class="bl">
                                <li>
                                    <button type="button" class="btn btn-link" (click)="goToRegistration()">{{ 'components.header.signup' | translate }}</button>
                                </li>
                                <li>
                                     <ng-template #loginButton>
                                        <form class="form-inline my-2 my-lg-0 navbar-form">
                                            <button type="button" class="btn btn-link" (click)="goToLogin()">{{ 'components.header.login' | translate }}</button>
                                        </form>
                                    </ng-template>
                                    <form class="form-inline my-2 my-lg-0 navbar-form" *ngIf="isCustomerLoggedIn; else loginButton">
                                        <li class="nav-item dropdown pl-2 pr-2" ngbDropdown>
                                        <a class="nav-link dropdown-toggle" id="loggedCustomer" role="button" data-bs-toggle="dropdown" aria-expanded="false"  (click)="onToggleClick()" ngbDropdownToggle>
                                            <img class="mr-1" src="assets/images/navbar/navbar-user.png" height="30" />
                                        </a>
                                        <div class="dropdown-menu zindex1000" aria-labelledby="loggedCustomer" ngbDropdownMenu>
                                            <a class="dropdown-item h7" [routerLink]="['profile/change-password']">{{ 'components.header.changePassword' | translate }}</a>
                                            <a class="dropdown-item h7" [routerLink]="['profile/profile']">{{ 'components.header.editProfile' | translate }}</a>
                                            <a class="dropdown-item h7" [routerLink]="['profile/my-listings']">{{ 'components.header.myListings' | translate }}</a>
                                            <!-- <a class="dropdown-item h7" [routerLink]="['profile/my-orders']">{{ 'components.header.myOrders' | translate }}</a> -->
                                            <a class="dropdown-item h7" (click)="logout()" href="#">{{ 'components.header.logOut' | translate }}</a>
                                        </div>
                                        </li>

                                        <!-- <app-logged-customer [customer]="currentCustomer" *ngIf="isCustomerLoggedIn; else loginButton"></app-logged-customer> -->
                                    </form>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" (click)="addPost()">{{ 'components.header.addPost' | translate }}</button>
                                    <!-- <a href="login.html?login=register">Create an account</a> -->
                                </li>
                            </ul>
                           
                           
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->
    </div> 
</section>