<div class="row" style="background-color: #ffffff;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row mt-5 mb-3">
            <div class="col-sm-12 text-center">
                <h2>Registered with over 3,000+ businesses across the GTA.</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>
            <div class="col-sm-2 m-3 pt-5 pb-5" style="height: 60px; background-image: url('/assets/images/business/toyota.png'); background-size: 100%; background-position:center; background-repeat: no-repeat;"></div>       
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
