<section>
    <div class="hom-ads">
        <div class="container">
            <div class="row">
                <div class="filt-com lhs-ads">
                    <div class="ads-box">
                        <a href="https://themeforest.net/item/holiday-hotel-and-tour-ticket-booking-online-html5-responsive-template/19411137">
                            <span>Ad</span>
                            <img src="assets/images/ads/732314414ads2.png" alt="" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
