<form #form="ngForm" novalidate>
    <div class="row" *ngIf="mode!=='code'">
        <div class="col-sm-12">
            <h3 [innerHTML]="message1"></h3>
       
            <div class="form-group row mt-5 mb-5">
                <div class="col-sm-12">
                    <input type="text" 
                        class="form-control input-text" 
                        id="loginEmail" 
                        name="loginEmail" 
                        [(ngModel)]="model.email" 
                        #loginEmail="ngModel" 
                        required 
                        placeholder="Email" 
                        maxlength=30>
                    <div *ngIf="form?.submitted && !model.email">
                        <small class="form-text error-message" *ngIf="!model.email" invalid>{{validationData['customer']?.email.errorMessageRequired}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <button type="button" class="btn btn-secondary btn-block" (click)="cancel()">{{ 'common.buttons.cancel' | translate }}</button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4"></div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <button type="button" class="btn btn-primary btn-block" (click)="submit()">{{ 'common.buttons.submit' | translate }}</button>
                </div>
            </div>  
        </div>
    </div>

    <div class="row" *ngIf="mode==='code'">   
        <div class="col-sm-12">
            <div class="row mb-5">
                <div class="col-sm-12">
                    <div class="row m-1 p-2">
                        <!-- <div class="col-sm-12 alert-note" [innerHTML]="'components.login.verificationCodeEmail' | translate"></div> -->
                        <h3 class="col-sm-12" [innerHTML]="message2"></h3>
                    </div>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-sm-12">
                    <div class="row m-1 p-2">
                        <div class="col-sm-12">Code for testing: 123456</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="loginEmail" class="col-sm-8 h12">{{ 'components.forgotPassword.enterCode' | translate }}:</label>
                <div class="col-sm-4">
                    <input type="text" 
                        class="form-control input-text" 
                        id="verificationCode" 
                        name="verificationCode" 
                        [attr.name]="'verificationCode'" 
                        [(ngModel)]="model.verificationCode" 
                        #verificationCode="ngModel" 
                        required 
                        [placeholder]="'components.forgotPassword.code' | translate" 
                        minlength="{{validationData['registration']?.verification.minLength}}"
                        maxlength="{{validationData['registration']?.verification.maxLength}}"
                        appInputValidator
                        InputValidator="'ct3'">
                    <div *ngIf="submitted && (model.verificationCode===null || model.verificationCode===undefined || model.verificationCode.length<6)">
                        <small class="form-text error-message" *ngIf="model.verificationCode===null || model.verificationCode===''" invalid>{{validationData['registration']?.verification.errorMessageRequired}}</small>
                        <small class="form-text error-message" *ngIf="model.verificationCode?.length<6" invalid>{{validationData['registration']?.verification.errorMessage}}</small>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            
            <div class="form-group row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4"></div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <button type="submit" class="btn btn-primary btn-block" (click)="submitCode()">{{ 'common.buttons.submit' | translate }}</button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4"></div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <!-- <app-error-message *ngIf="serverErrors" 
        [errors]="serverErrors">
    </app-error-message> -->
</div>

