<form #searchForm="ngForm">
    <div class="all-listing all-jobs">
        <!--FILTER ON MOBILE VIEW-->
        <div class="fil-mob fil-mob-act">
            <h4>
                Product filters
                <i class="material-icons">filter_list</i>
            </h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 fil-mob-view">
                    <div class="all-filt">
                        <span class="fil-mob-clo">
                            <!-- <i class="material-icons">close</i> -->
                            <i class="icofont icofont-close-line"></i>
                        </span>
                        <div class="all-list-bre">
                            <div class="sec-all-list-bre">
                                <h1>All Categories</h1>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <i class="icofont icofont-arrow-right"></i>
                                    </li>
                                    <li>
                                        <a href="products.html">All Categories</a>
                                    </li>
                                    <!-- <li>
                                        <a href="products.html">Real estate</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>

                        <!--START-->
                        <div class="filt-alist-near">
                            <div class="tit">
                                <h4>Top Listings</h4>
                            </div>
                            <div class="near-ser-list top-ser-secti-prov">
                                <ul>
                                    <li>
                                        @for (topListing of categoryTopListings; track $index) { 
                                            <div class="near-bx">
                                                <div class="ne-1">
                                                    <img src="images/listings/1.jpeg" loading="lazy">
                                                </div>
                                                <div class="ne-2" style="text-wrap-mode:wrap; text-wrap-style: wrap">
                                                    <h5>{{ topListing?.businessName }}</h5>
                                                    <p>{{ topListing?.description }}</p>
                                                </div>
                                                <!-- <div class="ne-3">
                                                    <span>5.0</span>
                                                </div> -->
                                                <a href="listing-details.html"></a>
                                            </div>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--END-->

                        <!--START-->
                        <div class="filt-com lhs-cate">           
                            <h4><i class="icofont icofont-globe me-2" style="font-size: 20px;"></i>Cities</h4>
                            <select class="form-select" aria-label="Default select example">
                                <option>Select location</option>
                                <option value="1" selected>Toronto</option>
                            </select>
                        </div>
                        <!--END-->

                        <!--START-->
                        <div class="filt-com lhs-cate">
                            <h4><i class="icofont icofont-listing-box me-2" style="font-size: 20px;"></i>Categories</h4>
                            <select  #mySelect class="form-select" aria-label="Default select example" (change)="onTagSelected( mySelect.value)">
                                <option>Select category</option>
                                @for(category of categories; track $index) {
                                    <option [attr.selected]="category.id===tagId ? true : null" [value]="category.id">
                                        @if(translateService.currentLang==='ru') {
                                            {{ category.categoryName_RU }}
                                        }
                                        @else {
                                            {{ category.categoryName }}
                                        }
                                    </option>
                                }
                            </select>
                        </div>
                        <!--END-->

                        <!--START-->
                        <div class="filt-com sub_cat_section pro-fil-sub">
                            <h4><i class="icofont icofont-listine-dots me-2" style="font-size: 20px;"></i>Sub categories</h4>
                            <ul>
                                @for(subcategory of selectedCategory.subcategoriesInformation; track $index) {
                                    <li>
                                        <div class="chbox">
                                            <input
                                                type="checkbox"
                                                class="sub_cat_check"
                                                name="sub_cat_check"
                                                [value]="subcategory.id"
                                                [id]="subcategory.id"
                                            >
                                            @if(translateService.currentLang==='ru') {
                                                <label [for]="subcategory.categoryName_RU">{{ subcategory.categoryName_RU }}</label>
                                            }
                                            @else {
                                                <label [for]="subcategory.categoryName">{{ subcategory.categoryName }}</label>
                                            }
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>

                        <app-request-form></app-request-form>
                    </div>
                </div>

                <div class="col-md-9">
                     <app-search-results 
                        [listings]="listings"
                        [selectedCategory]="selectedCategory">
                    </app-search-results>
                </div>
            </div>
        </div>
    </div>
</form>