<h1>Update Password</h1>

<form #form="ngForm" novalidate>
    <div class="row" *ngIf="!isBackEnabled">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <app-update-password           
                [currentCustomer]="currentCustomer"
                [form]="form"
                [model]="model"
                [isChangeMode]="false"
                [token]="token"
                (submitForm)="onSubmitForm($event)"
                (submitFailed)="onSubmitFailed($event)"
                (cancelForm)="onCancelForm($event)">
            </app-update-password>
        </div>
    </div> 
    <div class="row">
        <app-error-message *ngIf="serverErrors" 
            [errors]="serverErrors">
        </app-error-message>
    </div>
    <div class="row" *ngIf="isBackEnabled">
        <div class="col-sm-12">
            <button class="btn btn-link" (click)="backToPortal()">Click here to navigate to Login page</button>
        </div>
    </div>  
</form>

