<div class="row footer-background p-5 text-white footer-text">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="row mb-5">
            <div class="col-sm-2">
                <img src="assets/images/logo-300.png" width="120" height="auto" />
            </div>
            <div class="col-sm-10">
                <h2 class="text-white">MasterPages.ca</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12 h31">
                © 2021 Canadian-Russian Press Inc. All rights reserved.
                The MasterPages domain and enterprise is part of the 
                Canadian-Russian Press Inc
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12 h32">
                <i class="fa fa-phone mr-3" style="color: #ffb900;"></i>+ 1 (416) 993-9955
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-12 h32">
                <i class="fa fa-envelope mr-3" style="color: #ffb900;"></i>info.masterpages.ca
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-12">          
                <ul class="row list-group-horizontal">
                    <li class="col-sm-1">
                        <a class="nav-link"><img class="img-social-link" src="assets/images/navbar/navbar-facebook.png" /></a>
                    </li>
                    <li class="col-sm-1">
                        <a class="nav-link"><img class="img-social-link" src="assets/images/navbar/navbar-twitter.png" /></a>
                    </li>
                    <li class="col-sm-1">
                        <a class="nav-link"><img class="img-social-link" src="assets/images/navbar/navbar-instagram.png" /></a>
                    </li>
                    <li class="col-sm-1">
                        <a class="nav-link"><img class="img-social-link" src="assets/images/navbar/navbar-youtube.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="row mb-3 mb-5">
            <div class="col-sm-4">
                <div class="h31">1881 Steeles Ave.W</div>
                <div class="h31">Suite 207A</div>
                <div class="h31">North York, Ontario</div>
                <div class="h31">M3H 5Y4</div>
                <div class="h31">Canada</div>
            </div>
            <div class="col-sm-4">
                <div class="h32">Quick Links</div>
                <div class="h31">Privacy Policy</div>
                <div class="h31">Terms of Service</div>
                <div class="h31"><a [routerLink]="['/portal/contact']">Contact Us</a></div>
                <div class="h31"><a [routerLink]="['/portal/faq']">FAQ</a></div>
            </div>
            <div class="col-sm-4">
                <div class="h32">Account</div>    
                <div class="h31"><a [routerLink]="['/portal/login']">Login</a></div>
                <div class="h31"><a [routerLink]="['/portal/profile/profile']">My Profile</a></div>
                <div class="h31"><a [routerLink]="['/portal/profile/my-listings']">My Listings</a></div>
                <div class="h31"><a [routerLink]="['/portal/registration']">Register</a></div>
                <div class="h31"><a [routerLink]="['/portal/profile/post/add']">Post an Ad</a></div>
            </div>
        </div>
        <div class="row">
          <!--   <app-subscription-form>
            </app-subscription-form> -->
        </div>
    </div>
</div>
<div class="row footer-background-bottom p-5 text-white">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h6>Copyright © 2021 Canadian-Russian Press Inc.</h6>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h6 class="text-right">Privacy Policy - Terms of Service - MasterPages.ca</h6>
    </div>
</div>