
<section>
    <div class="plac-hom-bd">
        <div class="container">
            <div class="row">
                <div class="plac-det-tit-inn">
                    <h2>Explore our more Services</h2>
                </div>
                <div class="plac-hom-all-pla hom-more-modu">
                    <ul class="travel-sliser-auto">
                        <li>
                            <div class="plac-hom-box">
                                <div class="plac-hom-box-im">
                                    <img src="assets/images/home2-hand.jpg" alt="" loading="lazy">
                                    <div class="inn-text">
                                        <h4>Start finding your dream job now</h4>
                                        <a href="jobs/index.html">Start finding
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="plac-hom-box">
                                <div class="plac-hom-box-im">
                                    <img src="assets/images/products/start-selling.jpg" alt="" loading="lazy">
                                    <div class="inn-text">
                                        <h4>Start selling your products online</h4>
                                        <a href="products.html">Start selling
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="plac-hom-box">
                                <div class="plac-hom-box-im">
                                    <img src="assets/images/coupon-deals.jpg" alt="" loading="lazy">
                                    <div class="inn-text">
                                        <h4>Coupon and deals for your shopping</h4>
                                        <a href="coupons.html">Coupons
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="plac-hom-box">
                                <div class="plac-hom-box-im">
                                    <img src="assets/images/places/3.jpg" alt="" loading="lazy">
                                    <div class="inn-text">
                                        <h4>Explore your travel destination</h4>
                                        <a href="places/index.html">Explore travel
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="plac-hom-box">
                                <div class="plac-hom-box-im">
                                    <img src="assets/images/experts/expert1.jpg" alt="" loading="lazy">
                                    <div class="inn-text">
                                        <h4>Find your service experts for your needs</h4>
                                        <a href="service-experts/index.html">Book Expert Now
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="plac-hom-box">
                                <div class="plac-hom-box-im">
                                    <img src="assets/images/news.jpg" alt="" loading="lazy">
                                    <div class="inn-text">
                                        <h4>All news updates in one place</h4>
                                        <a href="news/index.html">News & Magazines
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
