<section>
    <!-- <div class="ban-ql">
        <div class="container">
            <div class="row"> -->
                <div id="demo" class="carousel slide cate-sli caro-home" data-bs-ride="carousel">
                    <div class="container">
                        <div class="row">
                            <div class="inn">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img
                                            src="assets/images/slider/90890557952.jpg"
                                            alt="Los Angeles"
                                            width="1100"
                                            height="500"
                                        >
                                        <a href="demo.html" target="_blank"></a>
                                    </div>
                                    <div class="carousel-item ">
                                        <img
                                            src="assets/images/slider/27459517111.jpg"
                                            alt="Los Angeles"
                                            width="1100"
                                            height="500"
                                        >
                                        <a href="demo.html" target="_blank"></a>
                                    </div>
                                    <div class="carousel-item active">
                                        <img
                                            src="assets/images/slider/90890557952.jpg"
                                            alt="Los Angeles"
                                            width="1100"
                                            height="500"
                                        >
                                        <a href="demo.html" target="_blank"></a>
                                    </div>
                                    <div class="carousel-item active">
                                        <img
                                            src="assets/images/slider/90890557952.jpg"
                                            alt="Los Angeles"
                                            width="1100"
                                            height="500"
                                        >
                                        <a href="demo.html" target="_blank"></a>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#demo" data-bs-slide="prev">
                                    <!-- <span class="carousel-control-prev-icon"></span> -->
                                    <i class="icofont icofont-circled-left" style="font-size: 48px;"></i>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-bs-slide="next">
                                    <!-- <span class="carousel-control-next-icon"></span> -->
                                    <i class="icofont icofont-circled-right" style="font-size: 48px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div>
    </div> -->
</section>