<section>
    <div class="str ind2-home">
        <div class="hom-head" style="background-image: url(assets/images/home.jpg); background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="ban-tit">
                        <h1>
                            <b>Find your
                                <span>Local needs
                                    <i></i>
                                </span>
                            </b>
                            in Toronto / GTA
                        </h1>
                    </div>


                    <div class="ban-search ban-sear-all">
                        <!-- <form name="filter_form" id="filter_form" class="filter_form"> -->
                            <app-home-search></app-home-search>
                            <!-- <ul>                                   
                                <li class="sr-search">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        id="select-search"
                                        placeholder="What are you looking for?"
                                        class="search-field"
                                    />
                                </li>
                                <li class="sr-btn">
                                    <input
                                        type="submit"
                                        id="filter_submit"
                                        name="filter_submit"
                                        value="Search"
                                        class="filter_submit"
                                        (click)="searchListings()"
                                    >
                                </li>
                            </ul> -->
                        <!-- </form> -->
                    </div>

                    
                    <app-category-icon categoryType="business"></app-category-icon>
                </div>
            </div>
        </div>
    </div>
</section>
