<section class="login-reg">
    <div class="container">
        <div class="row">
            <div class="login-main add-list">
                <div class="log-bor">&nbsp;</div>
                <span class="steps">{{ 'components.forgotPassword.title' | translate }}</span>
                <div class="log">
                    <div class="login add-list-off">
                        <h4>{{ 'components.forgotPassword.title' | translate }}</h4>

                        <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="row" style="background-color: #eff4ff;">
                                <div class="col-sm-12 p-5 text-center">
                                    <div class="row mb-3">
                                        <div class="col-sm-12 text-center">
                                            <div class="mb-2" [innerHTML]="'components.forgotPassword.message1' | translate"></div>
                                            <app-request-validation-code       
                                                [model]="requestModel"
                                                [title]=""
                                                [message1]="''"
                                                [message2]="''"
                                                [type]="'forgot'"
                                                (submitForm)="onSubmitForm($event)"
                                                (submitFormCode)="onSubmitFormCode($event)"
                                                (submitFailed)="onSubmitFailed($event)"
                                                (cancelForm)="onCancelForm($event)">
                                            </app-request-validation-code>

                                            <app-error-message *ngIf="serverErrors && mode === 'request'" 
                                                [errors]="serverErrors">
                                            </app-error-message>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <!-- <app-error-message *ngIf="serverErrors && sessionExpired !== 'true'" 
                                                [errors]="serverErrors">
                                            </app-error-message> -->
                                        </div>
                                    </div>
                                    <!-- <div class="row mb-3" *ngIf="errorCode==='locked'">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-primary btn-block" (click)="requestUnlock()">{{ 'common.buttons.requestToUnlock' | translate }}</button>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-4 col-xl-4"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
