
<form #passwordForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="row" style="background-color: #ccdcff;">
        <div class="col-sm-12 p-5">
            <h1>{{ 'components.forgotPassword.title' | translate }}</h1>
        </div>
    </div>
    <div class="row" style="background-color: #eff4ff;">
        <div class="col-sm-12 col-md-3 col-lg-4 col-xl-4"></div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-5 text-center">
            <div class="row mb-5 mt-5">
                <div class="col-sm-12 text-center">
                    <h2>{{ 'components.forgotPassword.title' | translate }}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 text-center" *ngIf="mode==='request'"> 
                    <app-request-validation-code       
                        [model]="requestModel"
                        [title]=""
                        [message1]="'components.forgotPassword.message1' | translate"
                        [message2]="'components.forgotPassword.verificationCodeEmail' | translate"
                        [type]="'forgot'"
                        (submitForm)="onSubmitForm($event)"
                        (submitFormCode)="onSubmitFormCode($event)"
                        (submitFailed)="onSubmitFailed($event)"
                        (cancelForm)="onCancelForm($event)">
                    </app-request-validation-code>

                    <app-error-message *ngIf="serverErrors && mode === 'request'" 
                        [errors]="serverErrors">
                    </app-error-message>
                </div>

                <div class="col-sm-12 text-center" *ngIf="mode==='result'"> 
                    <div class="row">
                        <div class="col-sm-12">
                            <app-update-password           
                                [currentCustomer]="currentCustomer"
                                [form]="passwordForm"
                                [model]="model"
                                [isChangeMode]="false"
                                (submitForm)="onSubmitForm($event)"
                                (submitFormPassword)="onSubmitFormPassword($event)"
                                (submitFailed)="onSubmitFailed($event)"
                                (cancelForm)="onCancelForm($event)">
                            </app-update-password>
                        </div>
                    </div> 
                </div>

                <div class="col-sm-12 text-center" *ngIf="mode==='message'">         
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <app-error-message *ngIf="serverErrors" 
                                    [errors]="serverErrors">
                                </app-error-message>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-sm-12 col-md-5 col-lg-3 col-xl-3"></div>
                        <div class="col-sm-12 col-md-2 col-lg-6 col-xl-6">
                            <button class="btn btn-primary" (click)="backToPortal()">Return to Login page</button>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-3 col-xl-3"></div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</form>
