<section class="blog-body">
    <div class="container">
        <div class="row">
            <!-- BANNER CAROUSEL WILL BE HERE --> 
            <app-carousel-banner></app-carousel-banner>

            <div class="col-sm-12 p-3">
                <div class="blog-sli p-3">
                    <p>Privacy Policy will be here</p>
                    <p>Privacy Policy - 1</p>
                    <p>Privacy Policy - 2</p>
                    <p>Privacy Policy - 3</p>
                </div>
            </div>  
        </div>
    </div>

     
</section>




       

<!-- LIST YOUR AD WILL BE HERE --> 
<app-list-your-ad></app-list-your-ad>


<!-- SELECT SERVICE WILL BE HERE --> 
<!-- <app-select-service></app-select-service> -->