<input *ngIf="section==='password'"
    class="form-control input-text"
    [placeholder]="'components.registration.password' | translate"
    [id]="section" 
    [name]="section" 
    [attr.name]="section" 
    [type]="type ? 'text' : 'password'"
    [minlength]="validationData?.registration?.password.minLength"
    [maxLength]="validationData?.registration?.password.maxLength"
    [required]="isRequired"
    [pattern]="validationData?.registration?.password.specialCharacterPattern"
    [(ngModel)]="model.password" 
    #password="ngModel" 
    appPassword />
    
<input *ngIf="section==='confirmPassword'"
    class="form-control input-text"
    [placeholder]="'components.registration.confirmPassword' | translate"
    [id]="section" 
    [name]="section" 
    [attr.name]="section" 
    [type]="type ? 'text' : 'password'"
    [minlength]="validationData?.registration?.password.minLength"
    [maxLength]="validationData?.registration?.password.maxLength"
    [required]="isRequired"
    [pattern]="validationData?.registration?.password.specialCharacterPattern"
    [(ngModel)]="model.confirmPassword" 
    #confirmPassword="ngModel" 
    appPassword />
    
<input *ngIf="section==='oldPassword'"
    class="form-control input-text"
    [placeholder]="'components.changePassword.oldPassword' | translate"
    [id]="section" 
    [name]="section" 
    [attr.name]="section" 
    [type]="type ? 'text' : 'password'"
    [minlength]="validationData?.registration?.password.minLength"
    [maxLength]="validationData?.registration?.password.maxLength"
    [required]="isRequired"
    [pattern]="validationData?.registration?.password.specialCharacterPattern"
    [(ngModel)]="model.oldPassword" 
    #password="ngModel" 
    appPassword />