button { 
    vertical-align: middle; 
    position: relative; 
    bottom: 2px; 
}

.btn-toggle {
    background-color: #fff; 
    box-shadow: none; 
}

no-padding {
    padding: 0 !important; 
}

[type="checkbox"]
{
    vertical-align:middle;
    top: 5px;
}