<section class="eve-deta-pg">
    <div class="container">
        <div class="row mb-5">
            <!-- BANNER CAROUSEL WILL BE HERE --> 
            <app-carousel-banner></app-carousel-banner>
        </div>
    </div>
</section>

<section class=" event-body">
    <div class="fil-mob fil-mob-act">
        <h4>
            Filters
            <i class="material-icons">filter_list</i>
        </h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 fil-mob-view">
                <span class="fil-mob-clo">
                    <i class="material-icons">close</i>
                </span>
                <div class="ban-search">
                    <h1>Events</h1>
                    <p>Here post your events, seminar, webinar, fetivals and more</p>
                    <form>
                        <ul class="row">
                            <li class="sr-sea">
                                <input
                                    type="text"
                                    id="event-search"
                                    class="autocomplete"
                                    placeholder="Search event in your city..."
                                >
                            </li>
                            <li class="sr-cit">
                                <select id="city" name="city" class="city chosen-select">
                                    <option value="">All City</option>
                                    <option value="new-york">New York</option>
                                    <option value="illunois-city">Illunois city</option>
                                    <option value="chennai">Chennai</option>
                                    <option value="seattle">Seattle</option>
                                    <option value="atlanta">Atlanta</option>
                                </select>
                            </li>
                            <li class="sr-cate">
                                <select name="cat_check" id="cat_check" class="cat_check chosen-select form-control">
                                    <option value="">All Category</option>
                                    <option value="toys">Toys</option>
                                    <option value="jewellery">Jewellery</option>
                                    <option value="shoes">Shoes</option>
                                    <option value="footwear">Footwear</option>
                                    <option value="clothings">Clothings</option>
                                    <option value="sports">Sports</option>
                                    <option value="education">Education</option>
                                    <option value="electricals">Electricals</option>
                                    <option value="automobilers">Automobilers</option>
                                </select>
                            </li>
                            <li class="sr-time">
                                <select name="sort_by" id="sort_by" class="sort_by chosen-select form-control">
                                    <option selected value="">
                                        All Events
                                    </option>
                                    <option value="upcoming">
                                        Upcoming events
                                    </option>
                                    <option value="today">
                                        Today events
                                    </option>
                                    <option value="finished">
                                        Finished events
                                    </option>
                                </select>
                            </li>
                            <li class="sr-date">
                                <div class="datepicker"></div>
                            </li>
                        </ul>
                    </form>
                    <div class="filt-com lhs-ads">
                        <div class="ads-box">
                            <a href="">
                                <span>Ad</span>
                                <img src="images/ads/ads1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 us-ppg-com">
                <ul id="intseres" class="events-wrapper">
                    <div class="listng-res">
                        <div class="count_no">
                            Total of
                            <span>18</span>
                            events found.
                        </div>
                        <div class="list-res-selt">
                            <span class="event-filters-span">Toys</span>
                            <span class="event-filters-span">New york</span>
                            <span class="event-filters-span">Today events</span>
                        </div>
                    </div>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/9.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/8.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/7.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/6.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/5.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/4.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/3.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/2.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                    <li class="events-item">
                        <div class="eve-box">
                            <div>
                                <img loading="lazy" src="images/events/9.jpg" alt="">
                                <span>
                                    Dec
                                    <b>31</b>
                                </span>
                            </div>
                            <div>
                                <h4>Light Music Event 2022</h4>
                            </div>
                            <a href="event-details.html" class="fclick"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
        
<section>
    <div class="pop-ups pop-quo">
        <!-- The Modal -->
        <div class="modal fade" id="quote">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    <!-- Modal Header -->
                    <div class="quote-pop">
                        <h4>Get quote</h4>
                        <form>
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter name*"
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <input
                                    type="email"
                                    class="form-control"
                                    placeholder="Enter email*"
                                    pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$"
                                    title="Invalid email address"
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter mobile number *"
                                    pattern="[7-9]{1}[0-9]{9}"
                                    title="Phone number starting with 7-9 and remaining 9 digit with 0-9"
                                    required
                                >
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Enter your query or message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="log-bor">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="event-pagination-container"></div>
