<!-- <p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p>
<p>dashboard works!</p> -->

 
        <!-- Preloader -->
       
        <!-- START -->
        <!--PRICING DETAILS-->
        <section class=" ud">
            <div class="ud-inn">
                <!--LEFT SECTION-->
                <div class="ud-lhs">
                    <div class="ud-lhs-s1">
                        <img src="images/user/1.jpg" alt="" loading="lazy">
                        <div class="ud-lhs-pro-bio">
                            <h4>Rn53</h4>
                            <b>Join on 17, Aug 2022</b>
                            <a class="ud-lhs-view-pro" target="_blank" href="profile/rn53">My Profile</a>
                        </div>
                    </div>
                    <div class="ud-lhs-s2 row">
                        <ul>
                            <li>
                                <a href="dashboard.html">
                                    <img src="images/icon/dbl1.png" alt=""> My Dashboard
                                </a>
                            </li>
                            <li>
                                <h4>All Modules</h4>
                                <a href="db-all-listing.html">
                                    <img src="images/icon/shop.png" alt="">All Listings
                                </a>
                            </li>
                            <li>
                                <a href="db-jobs.html">
                                    <img src="images/icon/employee.png" alt="">Jobs
                                </a>
                            </li>
                            <li>
                                <a href="db-products.html">
                                    <img src="images/icon/cart.png" alt="">All Products
                                </a>
                            </li>
                            <li>
                                <a href="db-events.html">
                                    <img src="images/icon/calendar.png" alt="">Events
                                </a>
                            </li>
                            <li>
                                <a href="db-blog-posts.html">
                                    <img src="images/icon/blog1.png" alt="">Blog posts
                                </a>
                            </li>
                            <li>
                                <a href="db-coupons.html">
                                    <img src="images/icon/coupons.png" alt="">Coupons
                                </a>
                            </li>
                            <li>
                                <h4>LEADS & ENQUIRY</h4>
                                <a href="db-enquiry.html">
                                    <img src="images/icon/tick.png" alt="">Lead enquiry
                                </a>
                            </li>
                            <li>
                                <a href="db-service-expert.html">
                                    <img src="images/icon/expert.png" alt="">Service Expert Leads
                                </a>
                            </li>
                            <li>
                                <h4>Payment & Promotions</h4>
                                <a href="db-payment.html">
                                    <img src="images/icon/dbl9.png" alt="" loading="lazy">Payment & plan
                                </a>
                            </li>
                            <li>
                                <a href="db-promote.html">
                                    <img src="images/icon/promotion.png" alt="">Promotions
                                </a>
                            </li>
                            <li>
                                <a href="db-seo.html">
                                    <img src="images/icon/seo.png" alt="">SEO
                                </a>
                            </li>
                            <li>
                                <a href="db-point-history.html">
                                    <img src="images/icon/point.png" alt="">Points History
                                </a>
                            </li>
                            <li>
                                <a href="db-post-ads.html">
                                    <img src="images/icon/dbl11.png" alt="">Ad Summary
                                </a>
                            </li>
                            <li>
                                <a href="db-invoice-all.html">
                                    <img src="images/icon/dbl16.png" alt="">Payment invoice
                                </a>
                            </li>
                            <li>
                                <h4>Profile pages</h4>
                                <a href="db-my-profile.html">
                                    <img src="images/icon/profile.png" alt="">My Profile
                                </a>
                            </li>
                            <li>
                                <a href="create-service-expert-profile.html">
                                    <img src="images/icon/profile.png" alt="">Service Expert Profile
                                </a>
                            </li>
                            <li>
                                <a href="create-job-seeker-profile.html">
                                    <img src="images/icon/profile.png" alt="">Job Profile
                                </a>
                            </li>
                            <li>
                                <h4>My activities</h4>
                                <a href="db-user-applied-jobs.html">
                                    <img src="images/icon/job-apply.png" alt="">All Applied Jobs
                                </a>
                            </li>
                            <li>
                                <a href="db-my-service-bookings.html">
                                    <img src="images/icon/expert-book.png" alt="">My Service Bookings
                                </a>
                            </li>
                            <li>
                                <a href="db-review.html">
                                    <img src="images/icon/dbl13.png" alt="">Reviews
                                </a>
                            </li>
                            <li>
                                <a href="db-like-listings.html">
                                    <img src="images/icon/dbl15.png" alt="">Liked Listings
                                </a>
                            </li>
                            <li>
                                <a href="db-followings.html">
                                    <img src="images/icon/dbl18.png" alt="">Followings
                                </a>
                            </li>
                            <li>
                                <a href="db-notifications.html">
                                    <img src="images/icon/dbl19.png" alt="">Notifications
                                </a>
                            </li>
                            <li>
                                <a href="how-to.html" target="_blank">
                                    <img src="images/icon/dbl17.png" alt="">How to's
                                </a>
                            </li>
                            <li>
                                <a href="db-setting.html">
                                    <img src="images/icon/dbl210.png" alt="">Setting
                                </a>
                            </li>
                            <li>
                                <a href="logout">
                                    <img src="images/icon/dbl12.png" alt="">Log Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--CENTER SECTION-->
                <div class="ud-main">
                    <div class="ud-main-inn">
                        <div class="ud-cen">
                            <div class="cd-cen-intr">
                                <div class="cd-cen-intr-inn">
                                    <h2>Welcom back,
                                        <b>Rn53</b>
                                    </h2>
                                    <p>Stay up to date reports in your listing, products, events and blog reports here</p>
                                </div>
                            </div>
                            <div class="ud-cen-s1-25 row">
                                <div class="ud-box-com-25 box-drk grn-box">
                                    <h4>New Users</h4>
                                    <h2>All Listings</h2>
                                    <span class="bnum">04</span>
                                    <p>Total no of listings</p>
                                    <a href="db-all-listing.html" class="fclick">&nbsp;</a>
                                </div>
                                <div class="ud-box-com-25 db-box-blu-25">
                                    <h4>Enquiries</h4>
                                    <h2>Enquiries</h2>
                                    <span class="bnum">03</span>
                                    <p>Total no of enquiry</p>
                                    <a href="db-enquiry.html" class="fclick">&nbsp;</a>
                                </div>
                                <div class="ud-box-com-25 box-drk db-box-gre-25">
                                    <h4>Followings</h4>
                                    <h2>Followings</h2>
                                    <span class="bnum">38</span>
                                    <p>Total no of followings</p>
                                    <a href="db-followings.html" class="fclick">&nbsp;</a>
                                </div>
                            </div>
                            <div class="row">
                                <!-- START -->
                                <div class="ud-cen-s3 ud-cen-s4 col-md-6">
                                    <h2>Profile page</h2>
                                    <div class="ud-payment ud-pro-link row">
                                        <div class="pay-lhs">
                                            <div class="lis-pro-badg">
                                                <div>
                                                    <img src="images/user/1.jpg" alt="">
                                                    <h4>Rn53</h4>
                                                    <p>Member since02, Jun 2025</p>
                                                </div>
                                                <a href="profile.html" class="fclick" target="_blank">&nbsp;</a>
                                            </div>
                                        </div>
                                        <div class="hide-pop-cta">
                                            <a target="_blank" href="profile.html" class="btn btn-outline-primary">View my profile page</a>
                                            <a href="db-my-profile-edit.html" class="btn btn-outline-success">Edit profile page</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->
                                <!--            // Company Profile section starts -->
                                <!-- START -->
                                <div class="ud-cen-s3 ud-cen-s4 col-md-6">
                                    <h2>Business page</h2>
                                    <div class="ud-payment ud-pro-link row bus-pg">
                                        <div class="pay-lhs">
                                            <div class="lis-pro-badg">
                                                <div>
                                                    <img src="images/user/10.png" alt="">
                                                    <h4>Website Directory</h4>
                                                    <p>Member since02, Jun 2025</p>
                                                </div>
                                                <a href="company-profile.html" class="fclick" target="_blank">&nbsp;</a>
                                            </div>
                                        </div>
                                        <div class="hide-pop-cta">
                                            <a target="_blank" href="company-profile.html" class="btn btn-outline-primary">View business page</a>
                                            <a href="company-profile-edit.html" class="btn btn-outline-success">Edit business page</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->
                                <!-- START -->
                                <div class="ud-cen-s3 ud-cen-s4 col-md-6">
                                    <h2>Service Expert Profile</h2>
                                    <div class="ud-payment ud-pro-link row bus-pg">
                                        <div class="pay-lhs">
                                            <div class="lis-pro-badg">
                                                <div>
                                                    <img src="service-experts/images/services/1.jpg" alt="">
                                                    <h4>Rn53</h4>
                                                    <p>Member since02, Jun 2025</p>
                                                </div>
                                                <a href="service-experts/service-experts-profile.html" class="fclick" target="_blank">&nbsp;</a>
                                            </div>
                                        </div>
                                        <div class="hide-pop-cta">
                                            <a target="_blank" href="service-experts/service-experts-profile.html" class="btn btn-outline-primary">View Expert Profile page</a>
                                            <a href="service-experts/create-service-expert-profile.html" class="btn btn-outline-success">Edit Your Expert Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END -->
                                <!-- START -->
                                <div class="ud-cen-s3 ud-cen-s4 col-md-6">
                                    <h2>Job Profile</h2>
                                    <a href="create-job-seeker-profile.html" class="db-tit-btn">Edit Your Job Profile</a>
                                    <div class="ud-payment ud-pro-link bus-pg">
                                        <div class="pay-lhs">
                                            <div class="lis-pro-badg">
                                                <div>
                                                    <img src="jobs/images/jobs/22000bean.jpg" alt="" loading="lazy">
                                                    <h4>Rn53</h4>
                                                    <p>Member since17, Aug 2022</p>
                                                </div>
                                                <a href="http://localhost/bizbook/job-profile/rn53" class="fclick" target="_blank">&nbsp;</a>
                                            </div>
                                        </div>
                                        <div class="pay-rhs">
                                            <ul>
                                                <li>
                                                    <b>Name :</b> Rn53
                                                </li>
                                                <li>
                                                    <b>Page views :</b>
                                                    <span>00</span>
                                                </li>
                                                <li class="pro">
                                                    <input type="text" value="http://localhost/bizbook/job-profile/rn53" readonly>
                                                </li>
                                                <li class="pre">
                                                    <a target="_blank" href="http://localhost/bizbook/job-profile/rn53">View Job Profile page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END -->
                            <!--        // If User type was job seeker means we are showing option to add job seeker profile ends here-->
                        </div>
                        <!--RIGHT SECTION-->
                        <div class="ud-rhs">
                            <div class="ud-rhs-promo">
                                <h3>Promote my business</h3>
                                <p>Your listing show on the top of the respective category page</p>
                                <a href="promote-business.html">Start now</a>
                            </div>
                            <!--    //Total Point Section Starts-->
                            <div class="ud-rhs-poin">
                                <div class="ud-rhs-poin1">
                                    <h4>Your points</h4>
                                    <span class="count1">0</span>
                                </div>
                                <div class="ud-rhs-poin2">
                                    <h3>Earn more credit points</h3>
                                    <p>Use this poins to promote your listing.
                                        <a href="#">Click here</a> for demo
                                    </p>
                                    <a href="http://localhost/bizbook/buy-points" class="cta">Buy Points</a>
                                </div>
                            </div>
                            <!--    //Total Point Section Ends-->
                            <div class="ud-rhs-pay">
                                <div class="ud-rhs-pay-inn">
                                    <h3>Payment Information</h3>
                                    <ul>
                                        <li>
                                            <b>Plan name :</b> Premium Plus
                                        </li>
                                        <li>
                                            <b>Start date :</b> 17, Aug 2022
                                        </li>
                                        <li>
                                            <b>Expiry date :</b> 17, Aug 2032
                                        </li>
                                        <li>
                                            <b>duration :</b> 10 year
                                        </li>
                                        <li>
                                            <b>Remaining Days:</b> 3532
                                        </li>
                                        <li>
                                            <span class="ud-stat-pay-btn">
                                                <b>Checkout cost :</b> $20
                                            </span>
                                        </li>
                                        <li>
                                            <span class="ud-stat-pay-btn">
                                                <b>Payment Status:</b> PENDING
                                            </span>
                                        </li>
                                    </ul>
                                    <a href="http://localhost/bizbook/db-payment" class="btn btn2">Pay Now</a>
                                </div>
                            </div>
                            <div class="ud-rhs-pay ud-rhs-status">
                                <div class="ud-rhs-pay-inn">
                                    <h3>Listing open & close status</h3>
                                    <ul>
                                        <li>
                                            <span>ij</span>
                                            <div class="custom-control custom-switch">
                                                <input
                                                    type="checkbox"
                                                    class="listing_open_close_switch custom-control-input"
                                                    id="511"
                                                    checked
                                                >
                                                <label
                                                    class="custom-control-label"
                                                    for="511"
                                                    data-bs-toggle="tooltip"
                                                    title="Click here to update your listing status, Open or Closed."
                                                >
                                                    &nbsp;
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <span>listing name 2</span>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="listing_open_close_switch custom-control-input" id="510">
                                                <label
                                                    class="custom-control-label"
                                                    for="510"
                                                    data-bs-toggle="tooltip"
                                                    title="Click here to update your listing status, Open or Closed."
                                                >
                                                    &nbsp;
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <span>AMD Stanford University</span>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="listing_open_close_switch custom-control-input" id="509">
                                                <label
                                                    class="custom-control-label"
                                                    for="509"
                                                    data-bs-toggle="tooltip"
                                                    title="Click here to update your listing status, Open or Closed."
                                                >
                                                    &nbsp;
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <span>MSI Hospitals in Melborn</span>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="listing_open_close_switch custom-control-input" id="506">
                                                <label
                                                    class="custom-control-label"
                                                    for="506"
                                                    data-bs-toggle="tooltip"
                                                    title="Click here to update your listing status, Open or Closed."
                                                >
                                                    &nbsp;
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <span>Apolla Hospitals in NeYork</span>
                                            <div class="custom-control custom-switch">
                                                <input
                                                    type="checkbox"
                                                    class="listing_open_close_switch custom-control-input"
                                                    id="394"
                                                    checked
                                                >
                                                <label
                                                    class="custom-control-label"
                                                    for="394"
                                                    data-bs-toggle="tooltip"
                                                    title="Click here to update your listing status, Open or Closed."
                                                >
                                                    &nbsp;
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ud-rhs-pay ud-rhs-repo">
                                <div class="ud-rhs-pay-inn">
                                    <h3>Last week report</h3>
                                    <ul>
                                        <li>
                                            <span class="view">Enquiry</span>
                                            <span class="cout">00</span>
                                            <span class="name">Leads</span>
                                        </li>
                                        <li>
                                            <span class="view">Views</span>
                                            <span class="cout">00</span>
                                            <span class="name">Listing</span>
                                        </li>
                                        <li>
                                            <span class="view">Views</span>
                                            <span class="cout">00</span>
                                            <span class="name">Events</span>
                                        </li>
                                        <li>
                                            <span class="view">Views</span>
                                            <span class="cout">00</span>
                                            <span class="name">Blogs</span>
                                        </li>
                                        <li>
                                            <span class="view">Views</span>
                                            <span class="cout">00</span>
                                            <span class="name">Products</span>
                                        </li>
                                        <li>
                                            <span class="cout">00</span>
                                            <span class="name">Messages</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ud-rhs-sec-1">
                                <h4>Admin Notification</h4>
                                <ul>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>test</h5>
                                            <p>test</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>demo2</h5>
                                            <p>demo2222</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>demo</h5>
                                            <p>demo notification</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>https://www.location-voitures-maurice.com/</h5>
                                            <p>https://www.location-voitures-maurice.com/</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="prueba">
                                            <h5>preuba</h5>
                                            <p>prieba</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>Homey massage offer 50%</h5>
                                            <p>Special offer for this month only</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>How lead tracking works?</h5>
                                            <p>Lead and url tracking work process</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>Other url redirect</h5>
                                            <p>Other url redirect test by directory finder</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>How to install directoryfinder template?</h5>
                                            <p>How to install directoryfinder template in local server</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>How to add new listing?</h5>
                                            <p>Just few clicks to add your new listing</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>Best Business Directory Template</h5>
                                            <p>Get the premium business directory templates with the best quality</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">
                                            <h5>1test noti title1</h5>
                                            <p>Tour Travel | Tour Travel Package Template</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="ud-rhs-promo ud-rhs-promo-1">
                                <h3>Community members</h3>
                                <p>Follow your favorite business users and grow your online business now.</p>
                                <a href="http://localhost/bizbook/community">Community</a>
                            </div>
                            <div class="ud-rhs-sec-3">
                                <div class="list-mig-like">
                                    <div class="list-ri-peo-like">
                                        <h3>Who all are follow you</h3>
                                        <ul>
                                            <li>
                                                <a href="http://localhost/bizbook/profile/" target="_blank">
                                                    <img src="images/user/970813.jpg" alt="" loading="lazy">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END PRICING DETAILS-->
        <!-- START -->
        <span class="btn-ser-need-ani">
            <img src="images/icon/help.png" alt="" loading="lazy">
        </span>
        <div class="ani-quo-form">
            <i class="material-icons ani-req-clo">close</i>
            <div class="tit">
                <h3>What service do you need?
                    <span>BizBook will help you</span>
                </h3>
            </div>
            <div class="hom-col-req">
                <div id="home_slide_enq_success" class="log" style="display: none;">
                    <p>Your Enquiry Is Submitted Successfully!!!</p>
                </div>
                <div id="home_slide_enq_fail" class="log" style="display: none;">
                    <p>Oops!! Something Went Wrong Try Later!!!</p>
                </div>
                <div id="home_slide_enq_same" class="log" style="display: none;">
                    <p>You cannot make enquiry on your own listing!!</p>
                </div>
                <form name="home_slide_enquiry_form" id="home_slide_enquiry_form" method="post" enctype="multipart/form-data">
    <input type="hidden" class="form-control" name="listing_id" value="0" placeholder="" required>
    <input type="hidden" class="form-control" name="listing_user_id" value="0" placeholder="" required>
    <input type="hidden" class="form-control" name="enquiry_sender_id" value="" placeholder="" required>
    <input type="hidden" class="form-control" name="enquiry_source" value="Website" placeholder="" required>
    <div class="form-group">
        <input type="text" name="enquiry_name" value="" required="required" class="form-control" placeholder="Enter name*">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Enter email*" required="required" value="" name="enquiry_email" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" title="Invalid email address">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" value="" name="enquiry_mobile" placeholder="Enter mobile number *" pattern="[7-9]{1}[0-9]{9}" title="Phone number starting with 7-9 and remaining 9 digit with 0-9" required="">
    </div>
    <div class="form-group">
        <select name="enquiry_category" id="enquiry_category" class="form-control chosen-select">
            <option value="">Select Category</option>
            <option value="20">Restaurants</option>
            <option value="19">Wedding halls</option>
            <option value="17">Pet shop</option>
            <option value="16">Technology</option>
            <option value="15">Spa and Facial</option>
            <option value="10">Real Estate</option>
            <option value="8">Sports</option>
            <option value="7">Education</option>
            <option value="6">Electricals</option>
            <option value="5">Automobiles</option>
            <option value="3">Transportation</option>
            <option value="2">Hospitals</option>
        </select>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" name="enquiry_message" placeholder="Enter your query or message"></textarea>
    </div>
    <input type="hidden" id="source">
    <button type="submit" id="home_slide_enquiry_submit" name="home_slide_enquiry_submit" class="btn btn-primary">Submit Requirements</button>
</form>
            </div>
        </div>
        <!-- END -->
       