<!-- MAIN SEARCH WILL BE HERE --> 
<app-main-search></app-main-search>

<!-- SEARCH BUTTONS WILL BE HERE --> 
<app-search-buttons></app-search-buttons>

<!-- BANNER CAROUSEL WILL BE HERE --> 
<app-carousel-banner></app-carousel-banner>

<!-- POPULAR SERVICES WILL BE HERE --> 
<app-popular-services></app-popular-services>


<!-- BANNER CAROUSEL WILL BE HERE --> 
<!-- <app-carousel-banner></app-carousel-banner> -->


<!-- MORE SERVICES WILL BE HERE --> 
<app-more-services></app-more-services>


<!-- PRICING WILL BE HERE --> 
<app-pricing></app-pricing>


<!-- HOW-IT-WORKS WILL BE HERE --> 
<app-how-it-works></app-how-it-works>


<!-- HOW-IT-WORKS WILL BE HERE --> 
<app-ads-box></app-ads-box>
       

<!-- LIST YOUR AD WILL BE HERE --> 
<app-list-your-ad></app-list-your-ad>


<!-- SELECT SERVICE WILL BE HERE --> 
<app-select-service></app-select-service>