<section>
    <div class="str">
        <div class="container">
            <div class="row">
                <div class="home-tit">
                    <h2>
                        <span>Popular Services</span>
                        near you
                    </h2>
                    <p>lacinia viverra lectus. Fusce imperdiet ullamcorper metus eu fringilla.</p>
                </div>
                <div class="land-pack">
                    <ul>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/8.jpg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Spa and Facial
                                        <span class="dir-ho-cat">Show All (05 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/7.jpg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Hospitals
                                        <span class="dir-ho-cat">Show All (06 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/1.jpg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Transportation
                                        <span class="dir-ho-cat">Show All (05 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/4.jpg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Automobiles
                                        <span class="dir-ho-cat">Show All (05 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/6.jpeg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Electricals
                                        <span class="dir-ho-cat">Show All (04 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/9.jpeg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Education
                                        <span class="dir-ho-cat">Show All (06 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/5.jpeg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Sports
                                        <span class="dir-ho-cat">Show All (00 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                        <li>
                            <div class="land-pack-grid">
                                <div class="land-pack-grid-img">
                                    <img src="assets/images/services/2.jpeg" alt="" loading="lazy">
                                </div>
                                <div class="land-pack-grid-text">
                                    <h4>Real Estate
                                        <span class="dir-ho-cat">Show All (05 )</span>
                                    </h4>
                                </div>
                                <a href="all-listing.html" class="land-pack-grid-btn">View all listings</a>
                            </div>
                        </li>
                    </ul>
                    <a href="all-category.html" class="more">View all services</a>
                </div>
            </div>
        </div>
    </div>
</section>
