.dropdown-toggle::after {
    content: initial;
}

.dropdown-item:active {
    background-color:lightgray
}

.dropdown-menu {
    .dropdown-item.active, .dropdown-item:active {
        background-color: lightgray;
    }
}   